body {
    /* Especificacion de fuente */
    font-family: Arial, Helvetica, sans-serif;
    /*margen, se puede poner automatico  */
    margin: 0;
    /* imagen de fondo  */
    background: url(../images/perros-fondo.jpg);
    /* para que la imagen se adecue al tamaño */
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    /* Color de fondo */
    background: #fff;
    margin-top: 150px;
    /* Espacio */
    padding: 3px;
}
h1{
    /* Texto al centro */
    text-align: center;
    /* Color */
    color: #5B2464;
    /* Tamaño de letra */
    font-size: 40px;
}
/* Para el input de formulario */
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #5B2464;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
/* Cuando el cursor está encima */
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    /* Para que la decoracion de los link no esté y no se vea subrayado */
    text-decoration: none;
      color: #5B2464;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
